.postIt {
    margin: 20px;
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-top: 5px solid #000 !important;
}

.center {
    text-align: center;
    justify-content: center;
}
.no-underline {
    text-decoration: none;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
